/* Váriaveis de cores */

:root{
  --c-primaria: #2A3695;
  --c-font-accordion: #38B6FF;
  --c-azul-header: #0842FD;
  --c-azul-projetos: #0B1846;
  --c-acinzentado: #838383;
}


/* Cor do btn principal */
.btn-primary{
  background-color: var(--c-primaria) !important;
}


/* Cor principal */
.color-primary{
  color: var(--c-primaria) !important;
}




/* GRADIENTES */

/* Gradiente do header e do footer */
.gradiente-azul-bg{
  background: linear-gradient(90deg,  var(--c-azul-header),  var(--c-font-accordion));
}


/* Gradiente utilizado na Main do site */
.main-blue-bg{
  background: linear-gradient(90deg,  var(--c-font-accordion), var(--c-azul-header)) !important;
  border-radius: 50% 000% 0 0;
  padding-top: 100px;
}


/* Gradiente da section "NOSSOS SERVIÇOS" */
.main-blue-dark-bg{
  background: linear-gradient(90deg,  #1A3CAC, #0B1846) !important;
}


/* Gradiente titulo Nossos serviços */
.fs-60px{
  background: #FFFFFF;
  background: linear-gradient(to right, var(--c-font-accordion) 0%, #fff 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}


/* Gradiente da section "NOSSA EQUIPE" */
.bg-nossa-equipe{
  background: linear-gradient(180deg,  var(--c-azul-projetos), #000) !important;
}



@media (max-width:992px) {  
  #nossa-equipe{
    padding: 360px 0 240px 0;
  }
}