#logotipo-innodev-nav:hover{
  animation: logo-move .5s ease infinite;
}

@keyframes logo-move {
  0% {
    transform: rotate(0deg);
  }

  50% {
    transform: rotate(-2deg);
  }
  100% {
    transform: rotate(2deg);
  }
}

.header-bg{
  background: linear-gradient(90deg,  var(--c-azul-header),  var(--c-font-accordion));
}


#header-section{
  padding-top: 88px;
  border-radius: 0 0 60px 60px ;  
}

#nav-bar{
  width: 100%;
  position: fixed !important;
  z-index: 10;
  background: linear-gradient(90deg,  var(--c-azul-header),  var(--c-font-accordion));
}


.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(253, 253, 253)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E") !important;
}

.custom-toggler.navbar-toggler {
  border-color: rgb(253, 253, 253) !important;
}

li a::after{
  content: '';
  display: block;
  background-color: #fff;
  transition: all 0.2s ease-in-out;
  width: 0%;
  height: 2px;
  text-align: end;
}

li a:hover::after{
  width: 100%;
}

.digitando{
  white-space: nowrap;
  overflow: hidden;
}