#valores{}

/* Animação logo */
#logotipo-innodev {
  transition: all 0.2s ease-in-out;
}

#logotipo-innodev:hover {
  cursor: pointer;
  scale: 1.10;
}

/* Botões next e prev */

.inno-btn{
  transition: 0.2s ease-in-out;
}

.inno-btn:hover{
  opacity: 50%;
  scale: 1.1;
}

/* Textos com valores da empresa */

.inno-valores{
  transition: all 0.2s ease-in-out;
}


/* ACCORDION LIST */

/* container que segura o accordion */
#accordion-servicos {
  max-width: 1000px;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  color: #fff;
  padding: 12px;
  margin: 0 auto 8px auto;
  flex-wrap: nowrap;
}

.accordion-cabecalho {
  color: var(--c-font-accordion);
  border: 0.5px groove var(--c-font-accordion);
  display: grid;
  grid-template-columns: 1fr 52px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-radius: 12px;
  padding: 24px 48px !important;
  transition: 0.2s ease-in-out;
}

.accordion-cabecalho:hover {
  box-shadow: 0 0 10px var(--c-font-accordion);
  scale: 1.02;
}

#accordion-servicos img {
  display: block;
  align-self: center;
}

.accordion-conteudo {
  height: 0;
  opacity: 0;
  transition: opacity 0.5s;
  overflow: hidden;
}

.accordion-conteudo.ativo {
  color: var(--c-font-accordion);
  border: 0.5px groove var(--c-font-accordion);
  border-radius: 12px;
  margin-top: 10px;
  overflow: hidden;
  height: 100%;
  opacity: 1;
  padding: 24px 48px;
}

.arrow{
  transition: all 0.2s ease-in-out;
}

.arrow.ativo {
  transform: rotate(90deg);
}




/* Projetos */

#projetos {
  padding-bottom: 300px;
  margin-top: -20px;
}

.card-projetos {
  background: linear-gradient(45deg, #010205, var(--c-azul-projetos));
  width: 310px;
  height: 340px;
  border-radius: 16px;
  padding: 16px;
  display: flex;
  align-items: end;
  color: #fff;
  transition: all 0.2s ease-in-out;
}

.card-projetos:hover {
  scale: 1.10;
  cursor: pointer;
}



/* Feedbacks */

#feedbacks {
  position: relative;
  margin-top: -300px;
}

#img-bg-feedback {
  position: absolute;
  left: 5%;
  z-index: 0;
}



/* Container que segura os cards de comentários */
.swiper {
  height: 400px;
  padding-left: 600px !important;
}

/* Grupo de dois cards do slide */
.swiper-slide{
  margin-right: 500px !important;
  width: 900px !important;
}

/* Card de comentário */
.card {
  display: block;
  width: 450px;
  min-height: 300px !important;
  border-radius: 20px !important;
  color: var(--c-acinzentado) !important;
  margin-top: 40px;
}

/* foto perfil do comentário */
.img-dev {
  max-width: 560px;
}


#nossa-equipe{
  padding: 200px 0 240px 0;
}



/* Media */

@media (max-width:1380px) {
  
  .swiper {
    padding-left: 400px !important;
  }
  
  
  .swiper-slide{
    margin-right: 200px !important;
  }
  
}






@media (max-width:992px) {
  
  .swiper {
    height: 360px;
    padding-left: 40px !important;
  }
  
  
  .swiper-slide{
    margin-right: 80px !important;
    width: 800px !important;
  }


  .card {
    scale: 0.90;
    margin-top: 12px;
  }

  .change-order {
    display: flex !important;
    flex-direction: column-reverse !important;
  }
  
}






@media (max-width:768px) {

  .inno-valores{
    height: 110px;
  }
  
  #feedbacks {
    position: relative;
    background-color:var(--c-azul-projetos);
  }

  .card {
    scale: 0.75;
  }

  .swiper-slide{
    width: 700px !important;
  }
  
}






@media (max-width:576px) {
  
  .swiper-slide{
  margin-right: 40px !important;
  width: 600px !important;
}

  .swiper{
  margin-left: -100px !important;
  }

  .card {
    scale: 0.65;
  }

  .swiper-pagination{
    margin-left: 40px;
  }
}







@media (max-width:450px) {

  #logotipo-innodev{
    max-width: 260px;
  }

  .accordion-cabecalho {
    padding: 16px 16px !important;
  }

  .swiper-slide{
    margin-right: 40px !important;
    width: 450px !important;
  }

  .card {
    scale: 0.5;
  }

  #nossa-equipe{
    padding: 80px 0 240px 0;
  }

  #foto-marcio{
    max-width: 240px;
    z-index: 1;
    overflow-x: hidden;
  }

}