@import url(../css/fonts.css);
@import url(../css/colors.css);
@import url(../css/header.css);
@import url(../css/main.css);

body{
  font-family: 'TT Chocolates', sans-serif !important;
  padding: 0;
  margin: 0;
}

img{
  object-fit: contain;
  display: block;
}

.btn:hover{
  scale: 1.1;
  transition: all 0.2s ease-in-out;
  opacity: 90%;
}

/* KEYFRAMES */

@keyframes anima-esquerda {
  from{
    opacity: 0;
    margin-left: -200px;
  }

  to{
    opacity: 1;
    margin-left: 0;
  }
}

.esquerda{
  animation: anima-esquerda .8s linear; 
}



@keyframes anima-direita {
  from{
    opacity: 0;
    margin-right: -200px;
  }

  to{
    opacity: 1;
    margin-right: 0;
  }
}

.direita{
  animation: anima-direita .8s linear;
}



@keyframes anima-baixo {
  from{
    opacity: 0;
    scale: 0;
  }

  to{
    opacity: 1;
    margin-bottom: 0;
  }
}

.baixo{
  animation: anima-baixo .8s linear;
}



.view{
  animation-timeline: view();
  animation-range: entry 0%;
}




.swiper {
  height: 400px;
  padding-left: 600px !important;
}


.swiper-slide{
  margin-right: 500px !important;
  width: 900px !important;
}

@media (max-width:1380px) {
  
  .swiper {
    padding-left: 400px !important;
  }
  
  
  .swiper-slide{
    margin-right: 200px !important;
  }
  
}

@media (max-width:992px) {
  
  .swiper {
    height: 360px;
    padding-left: 40px !important;
  }
  
  
  .swiper-slide{
    margin-right: 80px !important;
    width: 800px !important;
  }
  
}
@media (max-width:768px) {
  
  .swiper-slide{
    width: 700px !important;
  }
  
}


@media (max-width:576px) {
  
  .swiper-slide{
  margin-right: 40px !important;
  width: 600px !important;
}

@media (max-width:450px) {
  
  .swiper-slide{
    margin-right: 40px !important;
    width: 450px !important;
}
}

}
@media (max-width:576px) {
  .swiper{
  margin-left: -100px !important;
}
}